/* ======================== CSS file for events.html ======================== */
body {
  background-color: #07303e;
  color: white;
}

a {
  text-decoration: none;
}

.upcoming-carousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.upcoming-carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.upcoming-carousel-item {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  margin: 5px 5px 5px;
}

/*left and right navigation buttons */
.upcoming-carousel-prev,
.upcoming-carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.upcoming-carousel-prev {
  left: 0;
}

.upcoming-carousel-next {
  right: 0;
}

.upcoming-carousel-item button {
  background-color: #ff7b1b;
  border-radius: 30px;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.upcoming-carousel-item button:hover {
  background-color: #ac6911;
}

.upcoming-carousel-item:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px #ff7b1b;
}

.upcoming-events h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Bentham;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

/* ======== Past Events ======== */
.past-events h3 {
  font-size: 48px;
  text-align: center;
  padding: 24px 0px;
}

/* card */

.card_container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
  justify-content: center; /* Center align cards horizontally */
}

.card {
  width: 340px; /* Initial width */
  height: auto; /* Maintain aspect ratio */
  padding: 20px;
  text-align: left;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.2);
}

.card_info {
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  font-size: 16px;
  color: #e6dff3;
}

.card_title {
  font-size: 24px;
  padding-top: 16px;
}

a {
  text-decoration: none;
  color: white;
}

/* button */

.button {
  background-color: #ff7b1b;
  padding: 16px;
  border-radius: 24px;
  color: white;
  text-align: center;
  width: 80px;
  height: 20px;
  margin-top: 32px;
}
